APP_ENV=local
APP_PORT=8080

MYSQL_DATABASE=brainweb3
MYSQL_USERNAME=brainweb3
MYSQL_PASSWORD=brainweb3
MYSQL_PORT=3306

REDIS_PORT=6379

IPFS_API_PORT=5001
IPFS_GATEWAY_PORT=8088
IPFS_SWARM_PORT=4001

EEG_SERVICE_PORT=8101
FEDERATED_SERVICE_PORT=8102
FRONTEND_PORT=5173
BRAINWEB3_SAMPLE_ROOT=./.brainweb3-samples

CHAIN_PROVIDER=fisco-bcos-3
CHAIN_ENABLED=false
CHAIN_GROUP=group0
CHAIN_CONTRACT_NAME=DataNotary
CHAIN_CONTRACT_ADDRESS=
CHAIN_AUTO_DEPLOY=true
CHAIN_CONFIG_PATH=classpath:fisco/config-example.toml

STORAGE_PROVIDER=local
STORAGE_LOCAL_ROOT=./.brainweb3-storage
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=brainweb3
MINIO_SECRET_KEY=brainweb3secret
MINIO_BUCKET=brainweb3-datasets
MINIO_REGION=
MINIO_AUTO_CREATE_BUCKET=true
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
